---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<MainLayout>
			<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="https://lottie.host/c18b2ee1-5dc4-4e57-a465-ade182899ea3/5KWuU2GVKf.lottie" background="transparent" speed="1" style="width: 300px; height: 100px" loop autoplay></dotlottie-player>
			<p>Welcome to a collection of reference notes & guides for <a href="https://www.adobe.com/products/aftereffects.html" target="_blank">After Effects</a>, compiled by <a href="https://jadden.xyz" target="_blank">Jadden Picardal.</a> Designed for beginners looking to get started & experienced users looking to learn a bit more about AE. <br><br>This project is very much a work in progress and I will add onto it over time!<br><br>(it kind of is an excuse for me to learn <a href="https://astro.buid" target="_blank">Astro</a> as well hehe)</p>
		</MainLayout>
	</body>
</html>
