---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>hello</title>
	</head>
	<body>
		<h1>after effects</h1>
		<p> i'm just testing this out :3 </p>
		<li><a href="/posts/home/">okay bruh<a></li>
	</body>
</html>
